h1 { 
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 100px;
  color: #790b35;
} 

body { 
  background: url("https://kaabrah1.files.wordpress.com/2013/02/tumblr_lu6pj2jq0u1qjhyk2o1_500.jpg");
  background-size: cover; 
  background-position: center;
} 

header { 
  background-color: grey;
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  border-radius: 40px;
} 

